@font-face {
    font-family: 'CalSans';
    src: url('../fonts/CalSans-SemiBold.woff2') format('woff2'),
    url('../fonts/CalSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
button, input, optgroup, select, textarea {
  font-family: 'CalSans', 'Calibri', sans-serif !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-body {
  flex: 1 0 auto;
}

.input-field label {
    color: #373737 !important;
}

.input-field input {
    color: #373737 !important;
    border: 1px solid #373737 !important;
    background-color: #0000000f !important;
}

.input-field textarea {
    color: #373737 !important;
    border: 1px solid #373737 !important;
    background-color: #0000000f !important;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.overlap-image {
    z-index: -1;
    filter: blur(3px);
    width: 200vw;
}

@media only screen and (max-width: 600px) {
    .overlap-image {
        width: 210vw;
    }
}

@media only screen and (max-width: 480px) {
    .overlap-image {
        width: 270vw;
    }
}

@media only screen and (max-width: 350px) {
    .overlap-image {
        width: 310vw;
    }
}
