@font-face {
    font-family: 'CalSans';
    src: url('../fonts/CalSans-SemiBold.woff2') format('woff2'),
    url('../fonts/CalSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CalSans', 'Calibri', sans-serif !important;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.overlap-image {
    position: absolute;
    z-index: -1;
    filter: blur(3px);
    left: -230px;
    width: 170vw;
    top: -20px
}

@media only screen and (max-width: 600px) {
    .overlap-image {
        left: -200px;
        width: 210vw;
        top: -20px
    }
}

@media only screen and (max-width: 480px) {
    .overlap-image {
        left: -200px;
        width: 270vw;
        top: -20px
    }
}

@media only screen and (max-width: 350px) {
    .overlap-image {
        left: -200px;
        width: 310vw;
        top: -20px
    }
}
